@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.k-body {
    background-color: #000;
}

.k-logo-wrapper::selection {
    background-color: #ee2b4b;
}

.k-body {
    .select::selection {
        background-color: #4a5568;
    }
}

.k-baseImage-wrapper {
    animation: outline-change 2s infinite ease;
}

.k-about-image-wrapper {
    background: url('../assets/img/journey.png');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

button {
    cursor: pointer;
}

.create-post-modal {
    animation: fade 0.3s ease-in-out;
}

.create-post-modal-content {
    animation: fade-in-bottom 0.5s ease-in-out;
    font-family: 'Inter', sans-serif;
}


@keyframes outline-change {
    0% {
        outline-color: #4a556835;
    }

    50% {
        outline-color: #4a556867;
    }

    100% {
        outline-color: #4a556835;
    }
}

@keyframes fade-in-bottom {
    0% {
        opacity: 1;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
