@import "tailwindcss";

@theme {
    --color-base-primary: #000000;
    --color-base-secondary: #111;
    --color-gray-primary: #4a5568;
    --color-gray-secondary: #0c0f15;
    --color-gray-neutral: #212733;
    --color-blue-primary: #3C88CB;
    --color-blue-secondary: #378DD8;
    --color-blue-alternate: #3C88CB;
    --color-blue-light: #69B6FA;
}